<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="/productList" , method="post">
                <div class="form-group">
                    <label for="productName"><b>Enter Product Name :</b></label>
                    <input type="text" class="form-control" name="productName" />
                </div>
                <div class="form-group">
                    <label for="productSerialNumber"><b>Product Serial Number :</b></label>
                    <input type="text" class="form-control " name="productSerialNo" />
                </div>
                <div class="form-group">
                    <label for="quantity"><b>Quantity :</b></label>
                    <input type="number" class="form-control" name="quantity" />
                </div>
                <div class="form-group">
                    <label for="pricePerUnit"><b>Price Per Unit :</b></label>
                    <input type="number" class="form-control" name="pricePerUnit" />
                </div>
                 <div class="form-group">
                    <label for="vendorName"><b>Vendor Name :</b></label>
                    <input type="text" class="form-control" name="vendorName" />
                </div>
                <button type="submit" class="btn btn-primary">ADD PRODUCT</button>
            </form>
        </div>
    </div>
</div>