<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="/customer/{{id}}" method="post">
                <div class="form-group">
                    <label for="customerName"><b>Customer Name:</b> </label>
                    <input type="text" class="form-control" placeholder="Customer Name" name="customerName">
                </div>
                <div class="form-group">
                    <label for="address"><b>Address: </b></label>
                    <input type="text" class="form-control" name="houseNo" placeholder="House number">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="street"><b>Street: </b></label>
                        <input type="text" name="street" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="city"><b>City:</b> </label>
                        <input type="text" name="city" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="pincode"><b>PinCode:</b></label>
                        <input type="Number" class="form-control" name="pincode">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><b>Save Customer</b></button>
            </form>
        </div>
    </div>
</div>