<div class="jumbotron text-center" style="background-color:silver">
    <h1 style="color:darkred;" class="display-3"><b>WELCOME TO YOUR SHOP!</b></h1>
    <p class="lead"><h5><b>First Add Customer and then place their Order</b></h5></p>
    <a href="/customer" class="btn btn-dark btn-lg">Place Your Order Now !</a>
</div>

